@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --background-dark: #080b08;
  --text-dark: #f1f5f0;
  --primary-dark: #b7c9b1;
  --secondary-dark: #41555d;
  --accent-dark: #7b85a3;
}

html, body {
  margin: 0;
  background-color: var(--background-dark);
  color: var(--text-dark);
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  z-index: 0;
}

#header-page{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coloured-text-wave{
  background: -webkit-linear-gradient(var(--primary-dark), var(--accent-dark));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
}

.inline-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 0;
}

#date-header{
  font-size: 48px;
  margin-top: 0;
  letter-spacing: 0.4ch;
}

#items-cont{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#task-form{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 0 0 2px white;
  padding: 10px;
}

#task-form h1{
  margin: 0.5rem 0 0.2rem 0;
}

#task-form button{
  margin-top: 1rem;
}

#input-forms{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inline-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 1rem 0 1rem 0
}

.inline-items h3{
  float: inline-start;
  margin: 0;
}

.inline-items input{
  float: inline-end;
  margin: 0;
  width:40%;
}

#pop-up-area{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error, .success{
  width: 80%;
  height: 2.5rem;
  margin: 0 0 0.8rem 0 !important;
  border-radius: 10px;
}

.error{
  background-color: lightpink;
  border: 2px solid lightpink;
}

.success {
  background-color: lightgreen;
  border: 2px solid lightgreen;
}

.flashed-message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 32px;
  color: var(--text-dark);
  text-shadow: 0 0 10px var(--background-dark);
}

.nav-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: var(--secondary-dark);
  box-shadow: 0 0 8px white;
}

#nav-left{
  margin-left: 2rem;
}

.header-text{
  font-size: 24px;
}

#nav-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.redirect-btn{
  position: relative;
  background-color: transparent;
  color: var(--text-dark);
  border: none;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
}

.redirect-btn::after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.redirect-btn:hover::after{
  width: 100%;
  left: 0;
  background: #fff;
}

.cur-page::after{
  background: var(--primary-dark);
}

.cur-page:hover::after{
  background: var(--primary-dark);
}

.cur-page{
  color: var(--primary-dark);
  height: 100%;
}

#top-sec-activities{
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

table, th, td{
  border: 2px var(--text-dark) solid;
  border-collapse: collapse;
}

#buffer-login {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
}

#buffer-login::before,
#buffer-login::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: var(--text-dark);
}

#buffer-login span {
  padding: 0 10px;
  font-weight: bold;
}

#login-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-cont{
  border: 2px rgba(123, 133, 163, 0.3) solid;
  width: 30rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(123, 133, 163, 0.3);
}

#login-top-sec{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-top-sec h1{
  font-size: 48px;
  margin: 0;
}

#login-top-sec p{
  font-size: 16px;
  letter-spacing: 0.2ch;
}

#login-inputs{
  display: flex;
  flex-direction: column;
  /* height: 40%; */
  justify-content: center;
  align-items: center;
}

#login-inputs input{
  height: 2rem;
  width: 80%;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.std-input{
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 8px;
  height: 1.8rem;
  cursor: pointer;
  width: 20%;
}

#submit-btn{
  height: 2rem;
}

.google-input{
  width: 80%;
}

#login-bottom-sec{
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-register{
  height: 5%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#new-register p{
  font-size: 14px;
  margin: 0 0.2rem 0 0.6rem;
}

#new-register button{
  border: none;
  background-color: transparent;
  color: var(--primary-dark);
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 0 0 1px white;
}

#non-header-login-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}